<div class="custom-table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th ng-repeat="header in headers track by $index">{{header}}</th>
				<th>
					<button id="btn-add" class="btn btn-success" ng-click="table.openModal(type)">Nuevo</button>
					<input placeholder="Busca aqui" style="border-radius: 5px;" ng-model="searchAlumno"> 
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="type === 'usuarios'" ng-repeat="d in data | filter:search:strict">
				<td>{{d.id}}</td>
				<td>{{d.nombre}}</td>
				<td>{{d.apellido}}</td>
				<td>{{d.email}}</td>
				<td>{{d.permiso}}</td>
				<td>{{d.estado}}</td>
				<td>
					<button class="btn btn-warning btn-xs btn-detail" ng-click="table.openEditModal(d,type)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					<button class="btn btn-danger btn-xs btn-delete" ng-click="table.confirmDelete(d.id, type)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>

			<tr ng-if="type === 'alumno'" ng-repeat="d in data | filter:search:strict">
				<td>{{d.id}}</td>
				<td>{{d.nombre}}</td>
				<td>{{d.apellido}}</td>
				<td>{{d.telefono}}</td>
				<td>{{d.email}}</td>
				<td>{{d.matricula}}</td>
				<td>
					<button class="btn btn-warning btn-xs btn-detail" ng-click="table.openEditModal(d,type)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					<button class="btn btn-danger btn-xs btn-delete" ng-click="table.confirmDelete(d.id, type)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>

			<tr ng-if="type === 'carreras'" ng-repeat="d in data | filter:search:strict">
				<td>{{d.id}}</td>
				<td>{{d.desc_carr}}</td>
				<td>{{d.plan}}</td>
				<td>
					<button class="btn btn-warning btn-xs btn-detail" ng-click="table.openEditModal(d,type)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					<button class="btn btn-danger btn-xs btn-delete" ng-click="table.confirmDelete(d.id, type)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>

			<tr ng-if="type === 'docenteasignado'" ng-repeat="d in data | filter:search:strict">
				<td>{{d.id}}</td>
				<td>{{d.carrera.desc_carr}}</td>
				<td>{{d.materia.desc_mat}}</td>
				<td>{{d.dictados.cuat}}</td>
				<td>{{d.dictados.ano}}</td>
				<td>{{d.docente.apellido}}, {{d.docente.nombre}}</td>
				<td>{{d.desc_cargo}}</td>
				<td>{{d.email}}</td>
				<td>{{d.matricula}}</td>
				<td>
					<button class="btn btn-danger btn-xs btn-delete" ng-click="table.confirmDelete(d.id, type)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>

			<tr ng-if="type === 'dictados'" ng-repeat="d in data | filter:search:strict">
				<td>{{d.id}}</td>
				<td>{{d.desc_carr}}</td>
				<td>{{d.desc_mat}}</td>
				<td>{{d.cuat}}</td>
				<td>{{d.ano}}</td>
				<td>{{d.fecha_inicio | date : "dd/MM/y"}}</td>
				<td>{{d.fecha_fin | date : "dd/MM/y"}}</td>
				<td>{{d.cant_insc_act}}</td>
				<td>{{d.cant_clases}}</td>
				<td>{{d.cant_faltas_max}}</td>
				<td>
					<button class="btn btn-warning btn-xs btn-detail" ng-click="table.openEditModal(d,type)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					<button class="btn btn-danger btn-xs btn-delete" ng-click="table.confirmDeleteDDO(d)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
					<button class="btn btn-info btn-xs" ng-click="table.openDaysModal(d)">
						<span class="glyphicon glyphicon-th-list"></span>
					</button>
				</td>
			</tr>

			<tr ng-if="type === 'docentes'" ng-repeat="d in data | filter:search:strict">
				<td>{{d.id}}</td>
				<td>{{d.nombre}}</td>
				<td>{{d.apellido}}</td>
				<td>{{d.telefono}}</td>
				<td>{{d.estado}}</td>
				<td>{{d.id_usuario}}</td>
				<td>
					<button class="btn btn-warning btn-xs btn-detail" ng-click="table.openEditModal(d,type)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					<button class="btn btn-danger btn-xs btn-delete" ng-click="table.confirmDelete(d.id, type)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>

			<tr ng-if="type === 'inscriptos'" ng-repeat="d in data | filter:search:strict">
				<td>{{d.id}}</td>
				<td>{{d.nombre}}, {{d.apellido}}</td>
				<td>{{d.desc_carr}}</td>
				<td>{{d.desc_mat}}</td>
				<td>{{d.cuat}}</td>
				<td>{{d.ano}}</td>
				<td>{{d.cant_faltas_act}}</td>
				<td>{{d.libre}}</td>
				<td>
					<!-- <button class="btn btn-warning btn-xs btn-detail" ng-click="table.openEditModal(d,type)">
						<span class="glyphicon glyphicon-edit"></span>
					</button> -->
					<button class="btn btn-danger btn-xs btn-delete" ng-click="table.confirmDelete(d.id, type)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>

			<tr ng-if="type === 'materias'" ng-repeat="d in data | filter:search:strict">
				<td>{{d.id}}</td>
				<td>{{d.desc_mat}}</td>
				<td>{{d.carrera.desc_carr}}</td>
				<td>{{d.carrera.plan}}</td>
				<td>
					<button class="btn btn-warning btn-xs btn-detail" ng-click="table.openEditModal(d,type)">
						<span class="glyphicon glyphicon-edit"></span>
					</button>
					<button class="btn btn-danger btn-xs btn-delete" ng-click="table.confirmDelete(d.id, type)">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>

		</tbody>
	</table>
	<!-- show modal  -->
	<div class="modal fade" id="modal-alumno" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="background: white;">
			<div class="modal-table">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Gesti&oacute;n de Alumno</h4>
				</div>
				<div class="modal-body">
					<form name="frmAlumno" class="form-horizontal" novalidate="">
						<div class="form-group">
							<label class="col-sm-3 control-label">Nombre</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el Nombre" ng-model="modal.nombre"
								 ng-required="true">
								<span style="color:red" ng-show="frmAlumno.nombre.$invalid && frmAlumno.nombre.$touched">El campo Nombre es obligatorio</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Apellido</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese el Apellido" value="{{apellido}}"
								 ng-model="modal.apellido" ng-required="true">
								<span style="color:red" ng-show="frmAlumno.apellido.$invalid && frmAlumno.apellido.$touched">El campo Apellido es obligatorio</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Teléfono</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="telefono" name="telefono" placeholder="Ingrese el Teléfono" value="{{telefono}}"
								 ng-model="modal.telefono" ng-required="true">
								<span style="color:red" ng-show="frmAlumno.telefono.$invalid && frmAlumno.telefono.$touched">El campo Teléfono es obligatorio</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Email</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" id="email" name="email" placeholder="Ingrese el Email. Formato: alumno@gmail.com"
								 value="{{email}}" ng-model="modal.email" ng-required="true">
								<span style="color:red" ng-show="frmAlumno.email.$invalid && frmAlumno.email.$touched">El campo Email es obligatorio</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Matrícula</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="matricula" name="matricula" placeholder="Ingrese la Matrícula" value="{{matricula}}"
								 ng-model="modal.matricula" ng-required="true">
								<span style="color:red" ng-show="frmAlumno.matricula.$invalid && frmAlumno.matricula.$touched">El campo Matrícula es obligatorio</span>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-save" ng-click="table.saveAlumno(modal)" ng-disabled="frmAlumno.$invalid">Guardar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-carrera" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="background: white;">
			<div class="modal-table">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Gesti&oacute;n de Carrera</h4>
				</div>
				<div class="modal-body">
					<form name="frmCarrera" class="form-horizontal" novalidate="">
						<div class="form-group">
							<label class="col-sm-3 control-label">Nombre</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el Nombre" value="{{nombre}}" ng-model="modal.desc_carr"
								 ng-required="true">
								<span style="color:red" ng-show="frmCarrera.nombre.$invalid && frmCarrera.nombre.$touched">El campo Nombre es obligatorio</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Plan</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese el Plan" value="{{apellido}}"
								 ng-model="modal.plan" ng-required="true">
								<span style="color:red" ng-show="frmCarrera.apellido.$invalid && frmCarrera.apellido.$touched">El campo Plan es obligatorio</span>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-save" ng-click="table.saveCarrera(modal)" ng-disabled="frmCarrera.$invalid">Guardar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-usuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="background: white;">
			<div class="modal-table">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Gesti&oacute;n de Usuario</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" value="{{modal.usuarioid}}" id="iduser">
					<form name="frmUsuario" class="form-horizontal" novalidate="">
						<div class="form-group">
							<label class="col-sm-3 control-label">Nombre</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el Nombre" value="{{nombre}}" ng-model="modal.nombre"
								 ng-required="true">
								<span style="color:red" ng-show="frmUsuario.nombre.$invalid && frmUsuario.nombre.$touched">El campo Nombre es obligatorio</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Apellido</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese el Apellido" value="{{apellido}}"
								 ng-model="modal.apellido" ng-required="true">
								<span style="color:red" ng-show="frmUsuario.apellido.$invalid && frmUsuario.apellido.$touched">El campo Apellido es obligatorio</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Email</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="email" name="email" placeholder="Ingrese el Email" value="{{email}}" ng-model="modal.email"
								 ng-required="true">
								<span style="color:red" ng-show="frmUsuario.email.$invalid && frmUsuario.email.$touched">El campo Email es obligatorio</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Permiso</label>
							<div class="col-sm-9">
								<select id="permiso" class="form-control" name="permiso" placeholder="Seleccione Permiso" value="{{permiso}}" ng-model="modal.permiso"
								 ng-options="x for x in permisos" ng-required="true">
								 <option value="">-- Seleccione --</option>
								</select>
								<span style="color:red" ng-show="frmUsuario.permiso.$invalid && frmUsuario.permiso.$touched">El campo Permiso es obligatorio</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Estado</label>
							<div class="col-sm-9">
								<select id="estado" class="form-control" name="estado" placeholder="Seleccione Estado" value="{{estado}}" ng-model="modal.estado"
								 ng-options="x for x in estados" ng-required="true">
								<option value="">-- Seleccione --</option>
								</select>
								<span style="color:red" ng-show="frmUsuario.estado.$invalid && frmUsuario.estado.$touched">El campo Estado es obligatorio</span>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-save" ng-click="table.saveUsuario(modal)" ng-disabled="frmUsuario.$invalid">Guardar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-dias-cursada" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="background: white;">
			<div class="modal-table">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">{{carrera}}/{{materia}} - {{cuatrim}}/{{ano}}</h4>
				</div>
				<div style="margin-left: 25px;">
					Lunes
					<div style="margin-left: 25px;">
						<span ng-repeat="day in selectDaysLun">
						    <input type="checkbox" id="lun-{{day}}" ng-model="selectedListLun[day]" ng-checked="selectedListLun[day]"/>
						    <label for="{{day}}">{{day}}</label>
						</span>
					</div>
					<br>
					Martes
					<div style="margin-left: 25px;">
						<span ng-repeat="day in selectDaysMar">
						    <input type="checkbox" id="mar-{{day}}" ng-model="selectedListMar[day]" ng-checked="selectedListMar[day]"/>
						    <label for="{{day}}">{{day}}</label>
						</span>
					</div>
					<br>
					Miercoles
					<div style="margin-left: 25px;">
						<span ng-repeat="day in selectDaysMier">
						    <input type="checkbox" id="mier-{{day}}" ng-model="selectedListMier[day]" ng-checked="selectedListMier[day]"/>
						    <label for="{{day}}">{{day}}</label>
						</span>
					</div>
					<br>
					Jueves
					<div style="margin-left: 25px;">
						<span ng-repeat="day in selectDaysJue">
						    <input type="checkbox" id="jue-{{day}}" ng-model="selectedListJue[day]" ng-checked="selectedListJue[day]"/>
						    <label for="{{day}}">{{day}}</label>
						</span>
					</div>
					<br>
					Viernes
					<div style="margin-left: 25px;">
						<span ng-repeat="day in selectDaysVier">
						    <input type="checkbox" id="vier-{{day}}" ng-model="selectedListVier[day]" ng-checked="selectedListVier[day]"/>
						    <label for="{{day}}">{{day}}</label>
						</span>
					</div>
					<br>
					Sabado
					<div style="margin-left: 25px;">
						<span ng-repeat="day in selectDaysSab">
						    <input type="checkbox" id="sab-{{day}}" ng-model="selectedListSab[day]" ng-checked="selectedListSab[day]"/>
						    <label for="{{day}}">{{day}}</label>
						</span>
					</div>
					<br>
					Domingo
					<div style="margin-left: 25px;">
						<span ng-repeat="day in selectDaysDom">
						    <input type="checkbox" id="dom-{{day}}" ng-model="selectedListDom[day]" ng-checked="selectedListDom[day]"/>
						    <label for="{{day}}">{{day}}</label>
						</span>
					</div>
					<br>
				</div>
			</div>
			<br>
			<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-save" ng-click="submit()">Guardar</button>
			</div>
		</div>
	</div>


	<div class="modal fade" id="modal-docasignado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="background: white;">
			<div class="modal-table">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Gesti&oacute;n de Docentes Asignados</h4>
				</div>
				<div class="modal-body">
					<form name="frmDocAsignado" class="form-horizontal" novalidate="">
						<div class="form-group">
							<label class="col-sm-3 control-label">Dictados</label>

							<div class="col-sm-9">
								<select id="materia" class="form-control" name="materia" placeholder="Seleccione Materia" ng-model="modal.id_materia" ng-required="true">
									<option value="">-- Seleccione --</option>
									<option value="{{x.id}}" ng-repeat="x in materias">{{x.desc_carr}} / {{x.desc_mat}} / {{x.cuat}} / {{x.ano}}</option>
								</select>
								<span style="color:red" ng-show="frmDocAsignado.materia.$invalid && frmDocAsignado.materia.$touched">Seleccionar una materia es obligatorio</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Docente</label>
							<div class="col-sm-9">
								<select id="docente" class="form-control" name="docente" placeholder="Seleccione Docente" ng-model="modal.id_docente" ng-required="true">
									<option value="">-- Seleccione --</option>
									<option value="{{x.id}}" ng-repeat="x in docentes">{{x.apellido}} , {{x.nombre}}</option>
								</select>
								<span style="color:red" ng-show="frmDocAsignado.docente.$invalid && frmDocAsignado.docente.$touched">Seleccionar un Docente es obligatorio</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Cargo</label>
							<div class="col-sm-9">
								<select id="cargo" class="form-control" name="cargo" placeholder="Seleccione Cargo" ng-model="modal.id_cargo" ng-required="true">
									<option value="">-- Seleccione --</option>
									<option value="{{x.id}}" ng-repeat="x in cargos">{{x.desc_cargo}}</option>
								</select>
								<span style="color:red" ng-show="frmDocAsignado.cargo.$invalid && frmDocAsignado.cargo.$touched">Seleccionar un Cargo es obligatorio</span>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-save" ng-click="table.saveDocasignado(modal)" ng-disabled="frmDocAsignado.$invalid">Guardar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-dictado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="background: white;">
			<div class="modal-table">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Gesti&oacute;n de Dictado</h4>
				</div>
				<div class="modal-body">
					<form name="frmDictado" class="form-horizontal" novalidate="">
						<div class="form-group">
							<label class="col-sm-3 control-label">Carrera</label>
							<div class="col-sm-9">
								<select id="id_materia" class="form-control" name="id_materia" placeholder="Seleccione Materia" value="{{modal.id_carrera}}" ng-model="modal.id_carrera" ng-required="true" ng-disabled="modal.edit=='T'">
									<option value="">-- Seleccione --</option>
									<option value="{{x.id}}" ng-repeat="x in carreras">{{x.desc_carr}}</option>
								</select>								
								<span style="color:red" ng-show="frmDictado.id_materia.$invalid && frmDictado.id_materia.$touched">Seleccionar una Carrera es obligatorio</span>
							</div>
						</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Materia</label>
								<div class="col-sm-9">
									<select id="id_materia" class="form-control" name="id_materia" placeholder="Seleccione Materia" value="{{modal.id_materia}}" ng-model="modal.id_materia" ng-required="true" ng-disabled="modal.edit=='T'">
										<option value="">-- Seleccione --</option>
										<option value="{{x.id}}" ng-repeat="x in materias">{{x.desc_mat}}</option>
									</select>
									<span style="color:red" ng-show="frmDictado.id_materia.$invalid && frmDictado.id_materia.$touched">Seleccionar una Materia es obligatorio</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Cuatrimestre</label>
								<div class="col-sm-9">
									<select class="form-control" id="cuat" name="cuat" placeholder="Seleccione el Cuatrimestre" value="{{modal.cuat}}" ng-model="modal.cuat" ng-required="true">
										<option value="">-- Seleccione --</option>
										<option value="1">1</option>
										<option value="2">2</option>
									</select>
									<span style="color:red" ng-show="frmDictado.cuat.$invalid && frmDictado.cuat.$touched">Seleccionar un Cuatrimestre es obligatorio</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">A&ntilde;o</label>
								<div class="col-sm-9">
									<select class="form-control" id="ano" name="ano" placeholder="Seleccione el año" value="{{modal.ano}}" ng-model="modal.ano" ng-required="true">
										<option value="">-- Seleccione --</option>
										<option value="2017">2017</option>
										<option value="2018">2018</option>
										<option value="2019">2019</option>
										<option value="2020">2020</option>
									</select>
									<span style="color:red" ng-show="frmDictado.ano.$invalid && frmDictado.ano.$touched">Seleccionar un Año es obligatorio</span>
								</div>
							</div>
							<!--
							<div class="form-group">
								<label class="col-sm-3 control-label">D&iacute;a de cursada</label>
								<div class="col-sm-9">
									<select class="form-control" id="id_dia" name="id_dia" placeholder="Seleccione el Día de cursada" value="{{id_dia}}"
									 ng-model="modal.id_dia" ng-required="true">
										<option value="">-- Seleccione --</option>
										<option value="1">Lunes</option>
										<option value="2">Martes</option>
										<option value="3">Miercoles</option>
										<option value="4">Jueves</option>
										<option value="5">Viernes</option>
										<option value="6">Sabado</option>
										<option value="7">Domingo</option>
									</select>
									<span style="color:red" ng-show="frmDictado.id_dia.$invalid && frmDictado.id_dia.$touched">El campo Día de cursada es obligatorio</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Alternativa</label>
								<div class="col-sm-9">
									<select class="form-control" id="id_alternativa" name="id_alternativa" placeholder="Seleccione Alternativa" value="{{modal.id_alternativa}}" ng-model="modal.id_alternativa"
									 ng-required="true">
										<option value="">-- Seleccione --</option>
										<option value="1">AM</option>
										<option value="2">IM</option>
										<option value="3">PM</option>
									</select>
																<span style="color:red" ng-show="frmDictado.id_alternativa.$invalid && frmDictado.id_alternativa.$touched">El campo Alternativa es obligatorio</span>
							</div> -->
							<div class="form-group">
								<label class="col-sm-3 control-label">Fecha de Inicio</label>
								<div class="col-sm-9">
									<input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" value="{{modal.fecha_inicio}}" ng-model="modal.fecha_inicio" ng-required="true" max="{{modal.fecha_fin}}">
									<span style="color:red" ng-show="frmDictado.fecha_inicio.$invalid && frmDictado.fecha_inicio.$touched">El campo Fecha de Inicio es obligatorio y debe ser menor a la fecha de fin</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Fecha de Fin</label>
								<div class="col-sm-9">
									<input type="date" class="form-control" id="fecha_fin" name="fecha_fin" value="{{modal.fecha_fin}}" ng-model="modal.fecha_fin" ng-required="true" min="{{modal.fecha_inicio}}">
									<span style="color:red" ng-show="frmDictado.fecha_fin.$invalid && frmDictado.fecha_fin.$touched">El campo Fecha de Fin es obligatorio y debe ser mayor a la fecha de inicio</span>
								</div>
							</div>
								<div class="form-group">
							<label class="col-sm-3 control-label">Cant. Inscriptos</label>
							<div class="col-sm-9">
								<input type="number" class="form-control" id="cant_insc_act" name="cant_insc_act" placeholder="Ingrese Cantidad de Inscriptos"
								 value="{{cant_insc_act}}" ng-model="modal.cant_insc_act" ng-required="true" min="1">
								<span style="color:red" ng-show="frmDictado.cant_insc_act.$invalid && frmDictado.cant_insc_act.$touched">El campo Cant. Inscriptos es obligatorio y tiene que ser mayor a cero</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Cant. Clases</label>
							<div class="col-sm-9">
								<input type="number" class="form-control" id="cant_clases" name="cant_clases" placeholder="Ingrese la Cantidad de Clases" value="{{modal.cant_clases}}"
								 ng-model="modal.cant_clases" ng-required="true" min="1">
								<span style="color:red" ng-show="frmDictado.cant_clases.$invalid && frmDictado.cant_clases.$touched">El campo Cant. Clases es obligatorio y tiene que ser mayor a cero</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Cant. Faltas Max</label>
							<div class="col-sm-9">
								<input type="number" class="form-control" id="cant_faltas_max" name="cant_faltas_max" placeholder="Ingrese la Cantidad Máxima de Faltas"
								 value="{{modal.cant_faltas_max}}" ng-model="modal.cant_faltas_max" ng-required="true" max="{{modal.cant_clases}}" min="0">
								<span style="color:red" ng-show="frmDictado.cant_faltas_max.$invalid && frmDictado.cant_faltas_max.$touched">El campo Cant. Faltas Max es obligatorio, mayor o igual a cero y debe ser menor o igual a Cant. Clases</span>
									<span style="color:red" ng-show="frmDictado.id_alternativa.$invalid && frmDictado.id_alternativa.$touched">El campo Alternativa es obligatorio</span>
								</div>
						</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-save" ng-click="table.saveDictado(modal)" ng-disabled="frmDictado.$invalid">Guardar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-docente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="background: white;">
			<div class="modal-table">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Gesti&oacute;n de Docente</h4>
				</div>
				<div class="modal-body">
					<form name="frmDocente" class="form-horizontal" novalidate="">
						<div class="form-group">
							<label class="col-sm-3 control-label">Nombre</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el Nombre" value="{{nombre}}" ng-model="modal.nombre"
								 ng-required="true">
								<span style="color:red" ng-show="frmDocente.nombre.$invalid && frmDocente.nombre.$touched">El campo Nombre es obligatorio</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Apellido</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese el Apellido" value="{{apellido}}"
								 ng-model="modal.apellido" ng-required="true">
								<span style="color:red" ng-show="frmDocente.apellido.$invalid && frmDocente.apellido.$touched">El campo Apellido es obligatorio</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Teléfono</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="telefono" name="telefono" placeholder="Ingrese el Teléfono" value="{{telefono}}"
								 ng-model="modal.telefono" ng-required="true">
								<span style="color:red" ng-show="frmDocente.telefono.$invalid && frmDocente.telefono.$touched">El campo Teléfono es obligatorio</span>
							</div>
						</div>
						<div ng-if="modal.nuevo" class="form-group">
							<label class="col-sm-3 control-label">Asociado a</label>
							<div class="col-sm-9">
								<select id="materia" class="form-control" name="materia" placeholder="Seleccione Materia" ng-model="modal.docente.id" value={{modal.docente.id}} ng-required="true">
									<option value="">-- Seleccione --</option>
									<option ng-repeat="x in docentes" value="{{x.id}}">{{x.apellido}},{{x.nombre}}</option>
								</select>
								<span style="color:red" ng-show="frmInscriptos.materia.$invalid && frmInscriptos.materia.$touched">Seleccionar una Materia es obligatorio</span>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-save" ng-click="table.saveDocente(modal)" ng-disabled="frmDocente.$invalid">Guardar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-inscripto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="background: white;">
			<div class="modal-table">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Gesti&oacute;n de Inscripto</h4>
				</div>
				<div class="modal-body">
					<form name="frmInscriptos" class="form-horizontal" novalidate="">
						<div class="form-group">
							<label class="col-sm-3 control-label">Nombre</label>
							<div class="col-sm-9">
								<select id="nombre" class="form-control" name="nombre" placeholder="Seleccione Nombre" ng-model="modal.alumno.nombre" ng-required="true" value="{{modal.alumno.nombre}}">
									<option value="">-- Seleccione --</option>
									<option ng-repeat="x in alumnos" value="{{x.id}}"> {{x.nombre}}, {{x.apellido}}</option>
								</select>
								<span style="color:red" ng-show="frmInscriptos.nombre.$invalid && frmInscriptos.nombre.$touched">El campo Nombre es obligatorio</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Dictado</label>
							<div class="col-sm-9">
								<select id="materia" class="form-control" name="materia" placeholder="Seleccione Materia" ng-model="modal.materia.desc_mat" value={{modal.materia.desc_mat}} ng-required="true">
									<option value="">-- Seleccione --</option>
									<option ng-repeat="x in materias" value="{{x.id}}">{{x.desc_carr}} / {{x.desc_mat}} /	 {{x.cuat}} / {{x.ano}} </option>
								</select>
								<span style="color:red" ng-show="frmInscriptos.materia.$invalid && frmInscriptos.materia.$touched">Seleccionar una Materia es obligatorio</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Cant. Faltas Actuales</label>
							<div class="col-sm-9">
								<input type="number" class="form-control" id="cant_faltas_act" name="cant_faltas_act" placeholder="Ingrese Cantidad de Faltas Actuales"
								 value="{{cant_faltas_act}}" ng-model="modal.cant_faltas_act" ng-required="true" min="0">
								<span style="color:red" ng-show="frmInscriptos.cant_faltas_act.$invalid && frmInscriptos.cant_faltas_act.$touched">El campo Cant. Faltas Actuales es obligatorio y mayor o igual a cero</span>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-save" ng-click="table.saveInscripto(modal)" ng-disabled="frmInscriptos.$invalid">Guardar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal-materia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="background: white;">
			<div class="modal-table">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Gesti&oacute;n de Materia</h4>
				</div>
				<div class="modal-body">
					<form name="frmMateria" class="form-horizontal" novalidate="">
						<div class="form-group">
							<label class="col-sm-3 control-label">Nombre</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="desc_mat" name="desc_mat" placeholder="Ingrese el Nombre" value="{{desc_mat}}"
								 ng-model="modal.desc_mat" ng-required="true">
								<span style="color:red" ng-show="frmMateria.desc_mat.$invalid && frmMateria.desc_mat.$touched">El campo Nombre es obligatorio</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Carrera</label>
							<div class="col-sm-9">
								 <select id="materia" class="form-control" name="materia" placeholder="Seleccione la Carrera" ng-model="modal.carrera.desc_carr" value={{modal.carrera.id}}>
								 	<option value="">-- Seleccione --</option>
									<option ng-repeat="x in carreras" value="{{x.desc_carr}}" >{{x.desc_carr}} / {{x.plan}}</option>
								</select>
								<span style="color:red" ng-show="frmMateria.carrera.$invalid && frmMateria.carrera.$touched">Seleccionar una Carrera es obligatorio</span>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="btn-save" ng-click="table.saveMateria(modal)" ng-disabled="frmMateria.$invalid">Guardar</button>
				</div>
			</div>
		</div>
	</div>